<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>欢迎首页</title>

    <link href="css/welcome.css" rel="stylesheet" type="text/css">

</head>
<body class="notfound">

<div class="wrapper">
    <div class="big">长泽雅美，阿尼酱</div>
    <div>welcome to index，let's together!</div>
</div>

<!-- 功能请求 -->
<br><div><a href="http://localhost:8080/user/getUsers?page=1&limit=2">getUsers</a></div>
<br><div><a href="http://localhost:8080/user/getUserList">getUserList</a></div>
<br><div><a href="http://localhost:8080/user/addUser?name=test&age=50">addUser</a></div>
<br><div><a href="http://localhost:8080/user/excel">excel</a></div>

</body>
</html>